html {
    color: whitesmoke;
    background-color: lightcoral;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

h1 {
    -webkit-text-stroke: .5px #000;
}

th {
    display: flex;
    justify-content: left;
}

/*

.Bttn {
    display: flex;
    justify-content: right;
    height: auto;
}

.topBar
{
    display: flex;
    justify-content:space-evenly;
    background-color: lightgrey;
    border-color: black;
}

.detail
{
    display: flex;
    width: 90%;
    border: 10%;
    justify-content: space-evenly;
    background-color: lightcoral;
    border-radius: 3em;
    border-color: crimson;
    border: 3px;
}
*/