.content {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    vertical-align: middle;
}

#profile {
    width: 40%;
    display: flex;
    align-items:normal;
    text-align: left;
}

.info {
    width: 50%;
}

.picture {
    width: 50%;
}

.Skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#30WksRoles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}