#Idea {
    display: flex;
    align-content: space-evenly;
}

#interiorInfo {
    margin-left: auto;
    margin-right: auto;
}

.slideshow {
    height: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.ssBttn {
    background: lightgrey;
    border: 1px solid black;
    -webkit-text-stroke: 4px maroon;
    height: 3rem;
    margin: auto;
}

.ssBttn:hover {
    margin-left: -1px;
    margin-right: -1px;
}

#mockup {
    width: 20rem;
    max-height: 40rem;
    margin: auto;
}

.slideshowPic {
    margin-top: auto;
    margin-bottom: auto;
}