ul {
    width: 50%;
}

.profiles {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

#profile {
    width: 38%;
    display: flex;
    align-items:normal;
    text-align: left;
}

.info {
    width: 50%;
}

.picture {
    width: 50%;
}